body {
    padding: 50px;
}
img {
    margin: 50px 50px;
    border: 1px solid black; 
}
#img1 {
    border-radius: 150px;
}
#img2 {
    border-radius: 150px;
}
#img3 {
    border-radius: 100px;
}
#img4 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#img5 {
    clip-path: polygon(50% 0%, 75% 100%, 25% 100%);
}
#img6 {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
#img7 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
}
#img8 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#img9 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 100% 60%, 50% 100%, 0% 60%, 0% 40%);
}
#img10 {
    transform: rotate(45deg);
}
#img11 {
    transform: skew(20deg);
}
#img12 {
    transform: skewY(20deg);
}